<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>

    @RenderSection("stylesheets", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Graphs", "About", "Home")</li>
                    <li>@Html.ActionLink("Recommendations", "Recommendations", "Home")</li>
                    <li>@Html.ActionLink("Configurations", "UserForm", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/energyhack.js"></script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        EnergyHack.Layout.StartUp = function () {

            if (EnergyHack.Page.StartUp) {
                EnergyHack.Page.StartUp();
            }
        }

        $(document).ready(EnergyHack.Layout.StartUp);

    </script>
</body>
</html>
